body {
    font-family: Arial, sans-serif;
    background: #eef2f3;
}

.container {
    width: 450px;
    margin: auto;
    margin-top: 40px;
    padding: 25px;
    background: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px gray;
}

input[type=file], input[type=text] {
    padding: 10px;
    width: 90%;
    margin: 10px 0;
}

button {
    padding: 10px 25px;
    background: #0066ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0033cc;
}
